/* Setting height is also important, otherwise editor wont showup 
http://tech.deepumohan.com/2013/09/javascript-ace-editor-positioning-bootstrap.html
*/

.editor { 
    height: 300px; 
    /*
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    */
}
