/* wikilink style
a.wikilink:link {
    text-decoration: none;
}

a.wikilink:visited {
    text-decoration: none;
    color: red;
}

a.wikilink:hover {
    text-decoration: underline;
}

a.wikilink:active {
    text-decoration: underline;
}
*/

figure {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

/* Setting height is also important, otherwise editor wont showup 
http://tech.deepumohan.com/2013/09/javascript-ace-editor-positioning-bootstrap.html */
.editor { 
    height: 480px; 
    /*
    height: 520px; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    */
}

/* return to top arrow. https://codepen.io/rdallaire/pen/apoyx 
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
 */

/* https://facelessuser.github.io/pymdown-extensions/extensions/details/ */
details {
  display: block;
}

details[open] > summary::before {
  content: "\25BC";
}

details summary {
  display: block;
  cursor: pointer;
}

details summary:focus {
  outline: none;
}

details summary::before {
  content: "\25B6";
  padding-right: 0.5em;
}

details summary::-webkit-details-marker {
  display: none;
}

/* Attach the "no-details" class to details tags
   in browsers that do not support them to get
   open/show functionality. */
details.no-details:not([open]) > * {
  display: none;
}

details.no-details:not([open]) summary {
  display: block;
}

/* CSS for https://bootsnipp.com/snippets/featured/inbox-by-gmail */
.fab {
    cursor: pointer;
}
.fab-backdrop {
    color: rgba(255, 255, 255, 0);
}
.fab-primary, .fab-secondary {
    transition: all 0.35s ease-in-out;
}
.fab.active .fab-primary {
    opacity: 0;
    transform: rotate(225deg);
}
.fab-secondary {
    opacity: 0;
    transform: rotate(-225deg);
}
.fab.active .fab-secondary {
    opacity: 1;
    transform: rotate(0);
    margin-top: -2px;
}

#inbox .show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}
#inbox .show-on-hover {
    /* position: absolute; */
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#inbox .btn-io{
    border-radius: 50%;
    height: 54px;
    width: 54px;
    padding: 0 !important;
    box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}
#inbox .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
    margin-bottom: -5px;
    padding-bottom: 30px;
}
#inbox .dropdown-menu-right {
    right: 0 !Important;
    left: auto !Important;
}
#inbox .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 50px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0) !Important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !Important;
}

#inbox .fa-iox{
    font-size: 22px;
}

#inbox .dropdown-menu > li > a {
    display: block;
    padding: 0;
    padding-top: 4px;
    margin-top: 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    background: #fff;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    border: solid 1px #ccc;
    border-radius: 50px;
    font-size: 21px;
    box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}

#inbox .dropdown-menu > li:first-child>a {
    background: #6E4320 !important;
    color: #fff !important;
}
#inbox .dropdown-menu > li:last-child>a {
    background: #D3A516;
    color: #fff;
}
#inbox .dropdown-menu > li:nth-child(6)>a {
    background: #3C80F6;
    color: #fff;
}
#inbox .dropdown-menu > li:nth-child(5)>a {
    background: #3C80F6;
    color: #fff;
}
#inbox .dropdown-menu > li:nth-child(4)>a {
    background: #3C80F6;
    color: #fff;
}
#inbox .dropdown-menu > li:nth-child(3)>a {
    background: #3C80F6;
    color: #fff;
}
#inbox .dropdown-menu > li:nth-child(2)>a {
    background: #2CAC26;
    color: #fff;
}
#inbox .fa-iosm{
    margin-top: 7px;
}
