/* Links 
a.citation-link {
   font-style: italic;
   color: red;
}
*/

/*
body { 
    color: #333;
}

a { 
    color: #893e3e;  
    text-decoration: none;
}

a:hover { 
    color: #F18F34;
}

a:visited { 
    color: #a14409;
}

a {
    font-weight: 600;
    color:  #e67e22 ;
    text-decoration: none;
}

a:hover {
 color: #E33A37;
 font-weight: 600;
 text-decoration: none;
}
*/


/* Setting height is also important, otherwise editor wont showup 
http://tech.deepumohan.com/2013/09/javascript-ace-editor-positioning-bootstrap.html */

.editor { 
    height: 480px; 
    /*
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    */
}

/* return to top arrow. https://codepen.io/rdallaire/pen/apoyx */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Popover
.popover {
    border: 2px dotted red;
} 
*/

/* Popover Header 
.popover-title {
    //background-color: #73AD21;
    //color: #FFFFFF; 
    //font-size: 28px;
    font-size: 1vw;
    text-align:center;
}
*/

/* Popover Body 
.popover-content {
    font-size: 1vw;
    //background-color: coral;
    //color: #FFFFFF;
    //padding: 25px;
}
*/


/* https://facelessuser.github.io/pymdown-extensions/extensions/details/ */
details {
  display: block;
}

details[open] > summary::before {
  content: "\25BC";
}

details summary {
  display: block;
  cursor: pointer;
}

details summary:focus {
  outline: none;
}

details summary::before {
  content: "\25B6";
  padding-right: 0.5em;
}

details summary::-webkit-details-marker {
  display: none;
}

/* Attach the "no-details" class to details tags
   in browsers that do not support them to get
   open/show functionality. */
details.no-details:not([open]) > * {
  display: none;
}

details.no-details:not([open]) summary {
  display: block;
}
