{% extends "base.html" %}

{% block libs %}
    {{ super() }}
    <!-- <script src="{{ base_url }}/js/somelib.js"></script> -->

    <!-- Jquery from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap http://getbootstrap.com/getting-started/ -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- MathJax support
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script> 
    -->
    <!--
    This is compatible with plotly.
    -->
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_SVG">
    </script> 

    <!--
    Configure MathJax to produce automatic equation numbers http://docs.mathjax.org/en/latest/tex.html
    -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          TeX: {
              equationNumbers: { autoNumber: "all" },
              extensions: ["AMSmath.js"],
              Macros: {
                  rr: "{\\bf r}",
                  GG: "{\\bf G}",
                  kk: "{\\bf k}",
                  qq: "{\\bf q}",
                  kq: "{\\kk + \\qq}"
              }
          }
      });
    </script>

    <!-- See http://docs.mathjax.org/en/latest/start.html 
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js", "MathMenu.js", "MathZoom.js"],
        jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    -->

    {% if page.meta and page.meta.plotly %}
        <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js">
        </script> 
    {% endif %}

{% endblock %}

{% block content %}
<!-- Add teturn to Top. Based on https://codepen.io/rdallaire/pen/apoyx -->
<a href="javascript:" id="return-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>
{{ super() }}

<div class="container">
  <div class="row">
    <div id="inbox">
      <div class="fab btn-group show-on-hover dropup">
        <div data-toggle="tooltip" data-placement="left" title="Menu" style="margin-left: 42px;">
          <button type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                <i class="fa fa-map fa-stack-1x fa-inverse fab-primary"></i>
                <i class="fa fa-map-signs fa-stack-1x fa-inverse fab-secondary"></i>
            </span>
          </button></div>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="/index.html" data-toggle="tooltip" data-placement="left" title="User-Guide">
                <i class="fa fa-user-circle-o"></i></a></li>
            <li><a href="/topics/" data-toggle="tooltip" data-placement="left" title="Topics">
                <i class="fa fa-question"></i></a></li>
            <li><a href="/input_variables/" data-toggle="tooltip" data-placement="left" title="Input Variables">
                <i class="fa fa-file-text-o"></i></a></li>
            <li><a href="/tutorials/welcome/" data-toggle="tooltip" data-placement="left" title="Tutorials">
                <i class="fa fa-graduation-cap"></i></a></li>
            <li><a href="/theory/mbt" data-toggle="tooltip" data-placement="left" title="Theory">
                <i class="fa fa-book"></i></a></li>
          </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
