{% extends "base.html" %}

{% block libs %}
    {{ super() }}
    <!-- Jquery from Google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap http://getbootstrap.com/getting-started/ -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>

    <!-- MathJax support
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script> 
    -->
    <!--
    This is compatible with plotly.
    -->
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_SVG">
    </script> 

    <!--
    Configure MathJax to produce automatic equation numbers http://docs.mathjax.org/en/latest/tex.html
    -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
          TeX: {
              equationNumbers: { autoNumber: "all" },
              extensions: ["AMSmath.js"],
              Macros: {
                  rr: "{\\bf r}",
                  GG: "{\\bf G}",
                  kk: "{\\bf k}",
                  qq: "{\\bf q}",
                  kq: "{\\kk + \\qq}"
              }
          }
      });
    </script>

    <!-- See http://docs.mathjax.org/en/latest/start.html 
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js", "MathMenu.js", "MathZoom.js"],
        jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
      });
    </script>
    -->

    <!-- Plotly support -->
    {% if page.meta and page.meta.plotly %}
        <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    {% endif %}

    <!-- lightgallery support. See https://github.com/sachinchoolur/lightGallery-->
    {% if page.meta and page.meta.light_gallery %}

        <!--
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/lightgallery,npm/lg-autoplay,npm/lg-fullscreen,npm/lg-hash,npm/lg-pager,npm/lg-share,npm/lg-thumbnail,npm/lg-video,npm/lg-zoom" />
        -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.0/css/lightgallery.min.css" 
            integrity="sha256-6hdzBLI5YrM1ltRrsPdV0y2CsqGgLYCeNlLFFQoh7MY=" crossorigin="anonymous" />

        <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.0/js/lightgallery-all.min.js" 
            integrity="sha256-n9ZE2vNe6Iv4S6dUXnzuvvt2yLWOZPJqD787TC7S4W4=" crossorigin="anonymous"></script>
    {% endif %}

{% endblock %}

{% block content %}
{{ super() }}

<!-- 
 add dropdown button with toolbar (based on https://bootsnipp.com/snippets/featured/inbox-by-gmail)
 and return to Top button (based on https://codepen.io/rdallaire/pen/apoyx)
-->
<div class="container">
  <div class="row">
    <div id="inbox">
      <div class="fab btn-group show-on-hover dropup">
        <div data-toggle="tooltip" data-placement="left" title="Menu" style="margin-left: 42px;">
          <button id="return-to-top" type="button" class="btn btn-danger btn-io dropdown-toggle" data-toggle="dropdown">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
                <i class="fa fa-chevron-up fa-stack-1x fa-inverse fab-primary"></i>
                <i class="fa fa-map-signs fa-stack-1x fa-inverse fab-secondary"></i>
            </span>
          </button>
        </div>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
        {% set icons = [
          "fa-info-circle",
          "fa-terminal", 
          "fa-book", 
          "fa-graduation-cap", 
          "fa-file-text-o", 
          "fa-question", 
          "fa-user-circle-o", 
          ] %}
        {% for nav_item in nav | reverse %}
          <li><a href="{{ (nav_item.children | first).url }}" data-toggle="tooltip" data-placement="left" 
                  title={{ nav_item.title }}> <i class="fa {{ icons[loop.index0] }}"></i></a></li>
        {% endfor %}
        <!--
        <li><a href="/index.html" data-toggle="tooltip" data-placement="left" title="User-Guide">
              <i class="fa fa-user-circle-o"></i></a></li>
        -->
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
    <!-- Add tabs to footer -->
    {% if feature.tabs %}
        {% include "partials/tabs.html" %}
    {% endif %}
    {{ super() }}
{% endblock %}

<!--
MkDocs version : {{ mkdocs_version }}
Build Date UTC : {{ build_date_utc }}
-->
